{% extends 'layout.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

    <div class="bg bg-secondary text-dark pt-5 pb-5">
        <div class="text-center  pt-5 pb-5">
            <img src="https://images.squarespace-cdn.com/content/v1/59364d66ebbd1a96fde735c3/1568631726434-4TTZXMLVTJNYN7R17HH8/TRANSPARENT+iitd+logo.png" alt="iitd" width="100" height="100">
            <h1 class="display-1 cGreen me-2 ms-2">Department of Mathematics</h1>
            <h1 class="display-1 cGreen me-2 ms-2">IIT Delhi</h1>
            <p class="fs-4 mt-3">We are here for you, Book your appointments now!</p>
            <a type="button" class="btn btn-primary shadow  mt-5" href="{% url 'booking' %}">Online Booking</a>
        </div>
    </div>

{% endblock %}